*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 14px;
  margin: 40px auto;
  background-color: #F5F7FA;
  font-family: "Montserrat", "Arial";
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  line-height: 24px;
}

a {
  text-decoration: none;
}

/* ------------------------------------------------------ */
/* ---------------- Contenido Principal ----------------- */
/* ------------------------------------------------------ */
.contain {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: #fff;
  width: 1280px;
  margin: 40px auto;
  margin-top: 19px;
  margin-bottom: 25px;
  border: 40px solid #F5F7FA;
}
.contain__contact {
  width: 25%;
  padding: 0 20px;
  background-color: #6B0224;
  border-bottom: 1px solid #fff;
}
.contain__info {
  width: 75%;
  padding: 15px;
}

/* ------------------------------------------------------- */
/* ----------------- Informacion lateral ----------------- */
/* ------------------------------------------------------- */
.features {
  color: #fff;
}
.features__cont-img, .features__soft-skill, .features__tech-skill, .features__contacts {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.features__img {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  display: flex;
  border-radius: 50%;
}
.features__languages {
  padding: 20px 0;
}
.features__languages li {
  margin-left: 30px;
}

.contacts__title, .languages__title, .soft-skill__title, .tech-skill__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.contacts__item {
  display: flex;
  padding: 0;
  list-style: none;
}
.contacts__link {
  cursor: pointer;
}
.contacts__svg {
  margin-right: 15px;
  fill: #fff;
}
.contacts__paragraph, .languages__paragraph, .soft-skill__paragraph, .tech-skill__paragraph {
  line-height: 24px;
  margin-left: 15px;
}

.tech-skill__item {
  margin-left: 30px;
}
.soft-skill__item {
  margin-left: 30px;
}
.languages__item {
  margin-left: 30px;
}
/* --------------------------------------------------------------- */
/* --------------------- Informacion general --------------------- */
/* --------------------------------------------------------------- */
.header {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #6B0224;
}
.header__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__cont--svg {
  flex-direction: row;
  margin-bottom: 5px;
}
.header__svg:not(:last-child) {
  margin-right: 10px;
}
.header__name {
  color: #6B0224;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  font-family: "Tilt Prism";
  font-style: italic;
  letter-spacing: 14px;
}
.header__profession {
  margin-top: -5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.description {
  border-bottom: 2px solid #6B0224;
  padding: 10px 0;
}
.description__title, .study__title, .experience__title, .projects__title {
  margin-bottom: 10px;
  color: #6B0224;
}
.description__item {
  list-style: none;
}
.description__paragraph {
  margin-bottom: 10px;
}
.description__paragraph--ls {
  margin-left: 20px;
}
.description__span {
  font-weight: 700;
}

/* Lista Proyectos */
.projects {
  border-bottom: 2px solid #6B0224;
  padding: 10px 0;
}
.projects__list {
  padding: 17px;
}
.projects__link {
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.projects__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #595959;
}

/* Seccion experiencia-laboral */
.experience {
  border-bottom: 2px solid #6B0224;
  padding: 10px 0;
}
.experience__university {
  margin-left: 4px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}
.experience__charge {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}
.experience__span {
  color: #6B0224;
}
.experience__professional {
  margin: 8px 4px;
  line-height: 17px;
}
.experience__paragraph, .study__paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #595959;
}
.experience__list {
  margin: 8px 0px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 17px;
}

/* Seccion estudios */
.study {
  padding: 10px 0;
}
.study__cont:not(:last-child) {
  margin-bottom: 10px;
}
.study__university {
  color: #000;
}
.study__professional {
  color: #6B0224;
}

/*# sourceMappingURL=style.css.map */
