$primaryColor: #fff;
$secundColor: #6B0224;
$backgroundColor: #F5F7FA;
$boxShadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
$grayColor: #595959;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-size: 14px;
  margin: 40px auto;
  background-color: $backgroundColor;
  font-family: 'Montserrat','Arial';  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  line-height: 24px;
}

a{
  text-decoration: none;
}

/* ------------------------------------------------------ */
/* ---------------- Contenido Principal ----------------- */
/* ------------------------------------------------------ */

.contain{
  box-shadow: $boxShadow;
  display: flex;
  background-color: $primaryColor;
  width: 1280px;
  margin: 40px auto;
  margin-top: 19px;
  margin-bottom: 25px;
  border: 40px solid $backgroundColor; 

  &__contact{
    width: 25%;
    padding: 0 20px;
    background-color: $secundColor;   
    border-bottom: 1px solid $primaryColor;
  }

  &__info{
    width: 75%;
    padding: 15px;  
  }
}

/* ------------------------------------------------------- */
/* ----------------- Informacion lateral ----------------- */
/* ------------------------------------------------------- */

.features{
  color: $primaryColor;

  &__cont-img{
    padding: 20px 0;
    border-bottom: 1px solid $primaryColor;
  }  
  
  &__img{
    margin: 0 auto;
    width: 220px;
    height: 220px;
    display: flex;
    border-radius: 50%;;
  }

  &__contacts{
    @extend .features__cont-img;
  }

  &__tech-skill{
    @extend .features__cont-img;
  }
  
  &__soft-skill{
    @extend .features__cont-img;
  }
  
  &__languages{
    padding: 20px 0;
  }
  
  &__languages li{
    margin-left: 30px;
  }
}

.contacts{

  &__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  &__item{
    display: flex;
    padding: 0;
    list-style: none;
  }  

  &__link{
    cursor: pointer;
  }
  
  &__svg{
    margin-right: 15px;
    fill: $primaryColor;
  }

  &__paragraph{
    line-height: 24px;
    margin-left: 15px;
  }
}

.tech-skill{
  &__title{
    @extend .contacts__title;
  }

  &__item{
    margin-left: 30px;
  }
  
  &__paragraph{
    @extend .contacts__paragraph;
  }

  
}

.soft-skill{
  &__title{
    @extend .contacts__title;
  }

  &__item{
    margin-left: 30px;
  }
  
  &__paragraph{
    @extend .contacts__paragraph;
  }
  
}

.languages{
  &__title{
    @extend .contacts__title;
  }

  &__item{
    margin-left: 30px;
  }
  
  &__paragraph{
    @extend .contacts__paragraph;
  }
  
}

/* --------------------------------------------------------------- */
/* --------------------- Informacion general --------------------- */
/* --------------------------------------------------------------- */

.header{
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid $secundColor;

  &__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--svg{
      flex-direction: row;
      margin-bottom: 5px;
    }
  }

  &__svg{
    &:not(:last-child){
      margin-right: 10px;
    }
  }

  &__name{
    color: $secundColor;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    font-family: 'Tilt Prism';
    font-style: italic;
    letter-spacing: 14px;
  }

  &__profession{
    margin-top: -5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
}

.description{
  border-bottom: 2px solid $secundColor;
  padding: 10px 0;
  &__title{
    margin-bottom: 10px ;
    color: $secundColor;
  }
  &__item{
    list-style: none;
  }
  &__paragraph{
    margin-bottom: 10px;
    &--ls{
      margin-left: 20px;

    }
  }
  &__span{
    font-weight: 700;
  }
}

/* Lista Proyectos */
.projects{
  border-bottom: 2px solid $secundColor;
  padding: 10px 0;

  &__title{
    @extend .description__title;
  }

  &__list {
    padding: 17px;
  }

  &__link{
    font-weight: 400;
    line-height: 24px;
    color: $grayColor;
    box-shadow: $boxShadow;
  } 

  &__span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: $grayColor; 
  }
}

/* Seccion experiencia-laboral */
.experience{
  border-bottom: 2px solid $secundColor;
  padding: 10px 0;

  &__title{
    @extend .description__title;
  }

  &__university{
  margin-left: 4px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px; 
  }

  &__charge{
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
  }

  &__span{
    color: $secundColor;
  }
  
  &__professional{
    margin: 8px 4px;
    line-height: 17px;
  }

  &__paragraph{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;  
    color: $grayColor;
  }

  &__list{
    margin: 8px 0px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 17px;
  }
}

/* Seccion estudios */
.study{
  padding: 10px 0;
  &__cont{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__title{
    @extend .description__title;
  }
  &__university{
    color: #000;
  }
  &__professional{
    color: $secundColor;

  }
  &__paragraph{
    @extend .experience__paragraph
  }
}